.North{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #46d365;
}
.South{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #d334b8;
}